<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3> <%= 1 + 2 %> </h3>  
    <!-- we can dynamically write js by above line -->
    <h3> <%= "Amba".toUpperCase() %> </h3>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus nulla accusantium dicta quibusdam eos expedita accusamus. Perferendis rerum cumque iure quibusdam perspiciatis minus qui temporibus repudiandae ea, distinctio unde voluptatum porro quidem minima mollitia nostrum! Error, aspernatur fugit vero recusandae minus vel vitae facere dolorum harum eaque neque deleniti ad?
    </p>
    <button>click me!</button>
</body>
</html>